# flyctl launch added from transcribeai-fly/.gitignore
transcribeai-fly/**/.env
transcribeai-fly/**/__pycache__
transcribeai-fly/**/*.pyc
transcribeai-fly/**/.DS_Store
fly.toml

.env
.git
__pycache__/
*.pyc
